.carousel {
    padding: 2rem  0;
}
.carousel img {
    height: 90vh;
    object-fit: cover;
}
.thumbs-wrapper, .carousel-status {
    display: none;
}
.container {
    max-width: 1240px;
    margin: auto;
    padding: 0 1rem;
  }

